@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --color-white: #ffffff;
  --text-v-dark-desaturated-blue: hsl(238, 29%, 17%);
  --text-soft-red: hsl(14, 88%, 65%);
  --text-v-dark-grey-blue: hsl(237, 12%, 33%);
  --text-dark-greyish-blue: hsl(240, 6%, 50%);
  --body-background-blue: rgb(107, 99, 232);
  --grad-soft-violet: hsl(273, 75%, 66%);
  --grad-soft-blue: hsl(240, 73%, 65%);
  --divider: hsl(240, 5%, 91%);
  --font-family: "Kumbh Sans", sans-serif;
  --font-size-min: 0.75rem;
  --font-width: 1.75vw;
  --font-size-large: 0.875rem;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --line-height: 1.125rem;
}

html {
  background: var(--body-background-blue);
  background: linear-gradient(45deg, var(--grad-soft-blue) 0%, var(--grad-soft-violet));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--text-dark-greyish-blue);
  min-height: 100vh;
}

p {
  font-size: clamp(var(--font-size-min), var(--font-width), var(--font-size-large));
  line-height: var(--line-height);
}

img {
  display: block;
}

svg {
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  height: 100%;
  width: 90%;
  max-width: 57.5rem;
  margin: 10rem auto;
  border-radius: 1.875rem;
  background-color: var(--color-white);
}
.card__desktop-images {
  display: none;
}
.card__box {
  display: none;
}
.card__image-mob {
  grid-column: 2/-2;
  grid-row: 1/2;
  margin-top: -45%;
  position: relative;
  z-index: 1;
}
.card__image-mob::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 58%;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  bottom: -18%;
}
.card__mobile-image {
  z-index: 3;
}
.card__title {
  text-align: center;
  margin: 1rem 0;
  color: var(--text-v-dark-desaturated-blue);
}
.card__flex-layout {
  grid-column: 1/-1;
  margin: 4rem 0;
  padding: 0 1.5rem;
}
.card__fact {
  padding: 1.5em 0;
  border-bottom: 0.125rem solid var(--divider);
}
.card__fact-question {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-400);
}
.card__fact-question:hover, .card__fact-question:focus {
  color: var(--text-soft-red);
  transform: scale(1.02);
  transition: transform 0.2s ease;
}
.card__fact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 45rem;
}
.card__fact-section:hover, .card__fact-section:focus {
  cursor: pointer;
}
.card__fact-section[aria-expanded=true] .card__fact-question {
  color: var(--text-v-dark-desaturated-blue);
  font-weight: var(--font-weight-700);
}
.card__fact-section[aria-expanded=true] .card__fact-question:hover, .card__fact-section[aria-expanded=true] .card__fact-question:focus {
  color: var(--text-soft-red);
}
.card__fact-section[aria-expanded=true] .arrow {
  transform: rotate(180deg);
}
.card__fact-answer {
  width: 90%;
  max-height: 0;
  overflow: hidden;
}

.arrow {
  transition: transform 0.3s;
}

/* 

MEDIA QUERIES

*/
@media (min-width: 800px) {
  .card {
    display: flex;
    width: 80%;
    margin-top: 10rem;
  }
  .card__image-mob {
    display: none;
  }
  .card__flex-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
  }
  .card__flex-left {
    border: 3px solid green;
    overflow: hidden;
    display: grid;
    align-items: center;
  }
  .card__desktop-images {
    position: relative;
    display: block;
    border: 1px solid red;
    margin-left: -15%;
    width: 95%;
    height: 100%;
    background: url("../images/bg-pattern-desktop.svg") no-repeat top -1%;
  }
  .card__desktop-illustration {
    width: 100%;
  }
  .card__content {
    margin: 0;
    padding: 0;
  }
  .card__title {
    text-align: left;
    margin-bottom: 2rem;
  }
  .card__fact {
    padding: 1em 0;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */