@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --text-v-dark-desaturated-blue: hsl(238, 29%, 17%);
  --text-soft-red: hsl(14, 88%, 65%);
  --text-v-dark-grey-blue: hsl(237, 12%, 33%);
  --text-dark-greyish-blue: hsl(240, 6%, 50%);
  --grad-soft-violet: hsl(273, 75%, 66%);
  --grad-soft-blue: hsl(240, 73%, 65%);
  --divider: hsl(240, 5%, 91%);
  --font-size-min: 0.75rem;
  --font-width: 1.75vw;
  --font-size-large: 0.875rem;
  --line-height: 1.125rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(107, 99, 232);
  background: linear-gradient(45deg, var(--grad-soft-blue) 0%, var(--grad-soft-violet));
  font-family: "Kumbh Sans", sans-serif;
  color: var(--text-dark-greyish-blue);
  width: 100%;
  height: 100vh;
  margin: auto;
}

p {
  font-size: clamp(var(--font-size-min), var(--font-width), var(--font-size-large));
  line-height: var(--line-height);
}

img {
  display: block;
}

svg {
  width: 100%;
  height: 100%;
}

.card {
  width: min(920px, 90%);
  margin: 10rem auto;
  padding: 1.5em;
  border-radius: 1.875rem;
  background-color: white;
  position: relative;
}
.card__desktop-images {
  display: none;
}
.card__box {
  display: none;
}
.card__image-mob {
  width: 15rem;
  position: absolute;
  top: -6.875rem;
  left: 50%;
  transform: translateX(-50%);
  background: url(./images/bg-pattern-mobile.svg) no-repeat;
  background-position: 0 110px;
  min-height: 220px;
}
.card__title {
  text-align: center;
  margin: 1rem 0;
  color: var(--text-v-dark-desaturated-blue);
}
.card__content {
  margin: 7rem 0 2rem;
}
.card__fact {
  padding: 1.5em 0;
  border-bottom: 2px solid var(--divider);
}
.card__fact-question {
  font-size: var(--font-size-large);
  font-weight: 400;
}
.card__fact-question:hover, .card__fact-question:focus {
  color: var(--text-soft-red);
  transform: scale(1.02);
  transition: transform 0.2s ease;
}
.card__fact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 45rem;
}
.card__fact-section:hover, .card__fact-section:focus {
  cursor: pointer;
}
.card__fact-section[aria-expanded=true] .card__fact-question {
  color: var(--text-v-dark-desaturated-blue);
  font-weight: 700;
}
.card__fact-section[aria-expanded=true] .arrow {
  transform: rotate(180deg);
}
.card__fact-answer {
  width: 90%;
  max-height: 0;
  overflow: hidden;
}

.arrow {
  transition: transform 0.3s;
}

/* 

MEDIA QUERIES

*/
@media (min-width: 900px) {
  .card__image-mob {
    display: none;
  }
  .card__desktop-layout {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }
  .card__desktop-right {
    width: 50%;
    padding: 2em;
  }
  .card__desktop-images {
    display: block;
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .card__desktop-background {
    display: block;
    position: absolute;
    left: -575px;
    top: -300px;
  }
  .card__desktop-illustration {
    display: block;
    position: absolute;
    top: 70px;
    left: -80px;
    z-index: 2;
  }
  .card__box {
    display: block;
    position: absolute;
    left: -92px;
    top: 187px;
    z-index: 3;
  }
  .card__content {
    margin: 0;
  }
  .card__title {
    text-align: left;
    margin-bottom: 2rem;
  }
  .card__fact {
    padding: 1em 0;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=style.css.map */